body {
    margin: 3%;
}

table {
    border-color:  #333;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    width: 30%;
}

th {
    background-image: url(../img/fondo_gris.gif);
    padding:1px 10px 1px 10px ;
     /* padding - separo un poco las letras de los laterales de la tabla */
}

.euro {
    background: #E6F3FF url(../img/euro.png) no-repeat left center;
    padding: 0 .3em 0 1.2em;
    text-align: left;
}

.dolar {
    background: #E6F3FF url(../img/dolar.png) no-repeat left center;
    padding: 0 .3em 0 1.2em;
    text-align: left;
}

.yen {
    background: #E6F3FF url(../img/yen.png) no-repeat left center;
    padding: 0 .3em 0 1.2em;
    text-align: left;
}

.libra {
    background: #E6F3FF url(../img/libra.png) no-repeat left center;
    padding: 0 .3em 0 1.2em;
    text-align: left;
}

.amarillo {
    background: #FFFFC0;
}