body {
    background-color: #dddddd;
}

h1 {
    font-size: 3em;
    text-align: center;
    color: rgb(2, 0, 0);
    font-family:  Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h2 {
    font-size: 2em;
    text-align: center;
    color: rgb(2, 0, 0);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

p {
    font-size: 1.5em;
    text-align:left;
    color: rgb(58, 100, 67);
    font-family: Verdana, Geneva, sans-serif;
}

.primer-parrafo {
    font-size: 1.5em;
    text-align: left;
    color: rgb(100, 33, 33);
    font-family: Verdana, Geneva, sans-serif;
}

.segundo-parrafo {
    font-size: 1.5em;
    text-align: left;
    color: rgb(43, 93, 122);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
